.hero.is-primary {
  background-color: black;
}
.hero-body {
  background-image: url("https://github.com/SMAKBO/tugas-labkom-2018-Habib211/blob/master/img/acetal.png?raw=true.png");
}
.navbar {
  width:1500pt; height:50pt;
}
h3 {
  font-size: 30pt;text-align: center;
}
.card {
  background-color: black; color: white;
}
h5 {
  font-size: 25pt; font-family: cursive;
}
.navbar {
  background-color: black; color: grey;
}
li a {
  color:white;
}

.column {
    float: left;
    width: 50%; background-color: black;}
body {
  	background-color: black;
 	margin: 3%;
	font-family: arial;
	font-size: 20px;
}

* {
	box-sizing: border-box;
}

.containerr {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.containerr img {
	vertical-align: middle;
}

.containerr .content {
	position: absolute;
	bottom: 2;
	background: rgba(0,0,0,0.4);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
}

h1{
	font-family: arial;
	font-size: 30px;
}

