.hero.is-primary {
  background-color: black;
}
.hero-body {
  background-image: url("https://github.com/SMAKBO/tugas-labkom-2018-Habib211/blob/master/img/acetal.png?raw=true.png");
}
.navbar {
  width:1500pt; height:50pt;
}
h3 {
  font-size: 30pt;text-align: center;
}
.card {
  background-color: black; color: white;
}
h5 {
  font-size: 25pt; font-family: cursive;
}
.navbar {
  background-color: black; color: grey;
}
li a {
  color:white;
}

h2 {
    font-size: 40px; color: #B0C4DE; text-align: center;
}

h4 {
    font-size: 23px; text-align: left; color: #B0C4DE;
}

p {
    font-size: 18px; color: white;
}

body {
    background-image: url("http://ak3.picdn.net/shutterstock/videos/14838583/thumb/1.jpg");
}

img {
    float: left;
}
