.hero.is-primary {
  background-color: black;
}
.hero-body {
  background-image: url("https://github.com/SMAKBO/tugas-labkom-2018-Habib211/blob/master/img/acetal.png?raw=true.png");
}
.navbar {
  width:1500pt; height:50pt;
}
h3 {
  font-size: 30pt;text-align: center;
}
.card {
  background-color: black; color: white;
}
h5 {
  font-size: 25pt; font-family: cursive;color: white;
}
.navbar {
  background-color: black; color: grey;
}
li a {
  color:white;
}
.column {
    float: left;
    width: 50%; background-color: black;}
body {
  background-color: black;
}
.article {
  background-color: lightblue;
}
footer {
  text-align: center;color: white;
}
table, th, td {
   
}
table {
  margin-left: 20px;margin-right: 20px;
}
div.row {
 margin-left: 150px;margin-right: 150px; 
}
